.leaderboard-button {
    background-color: green;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 16rem !important;
    border-radius: 100rem !important;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-image: linear-gradient(45deg, rgb(88, 12, 35), rgb(180, 27, 134));
    background-size: 200% 200%;
    animation: gradientShift 3s ease infinite;
    margin-top: 10px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.leaderboard-button:hover {
    transform: scale(1.05) rotate3d(1, 1, 0, 10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px white;
}

.leaderboard-button:active {
    animation: pulse 0.6s;
    transform: scale(1);
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0.95);
    }
}

.notification-status {
    position: fixed;
    top: 13px;
    right: 15px;
    font-size: 20px;
}

.user-info-container {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-dashboard-container {
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.stat {
    display: flex;
    justify-content: space-between;
}

.space {
    width: 16px; /* Adjust as needed for horizontal space */
}

.logout-container {
    position: fixed;
    top: 90%;
    left: 90%;
}

@keyframes flash {

    0%,
    49% {
        color: white;
        opacity: 1;
    }

    50%,
    100% {
        color: white;
        opacity: 0;
    }
}

.flash {
    animation: flash 1s infinite;
    /* Adjust the duration as needed */
}