.use-power-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use-power-container button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 50rem;
  background-color: rgb(0, 64, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.use-power-container div {
  margin: 10px 0;
}

.use-power-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.use-power-container li {
  padding: 10px;
  min-width: 8rem;
  max-width: 16rem;
  margin: 5px;
  background-color: #0f3587;
  border-radius: 100rem;
  cursor: pointer;
}

.use-power-container p {
  width: 16rem;
}

.available-enemies ul {
  max-height: 200px;
  overflow-y: auto;
}
