.answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-buttons button {
  background-color: rgb(0, 64, 255);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  width: 16rem !important;
  border-radius: 100rem !important;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(45deg, rgb(15, 53, 135), rgb(140, 27, 197));
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
  margin-top: 20px;
}

.correct-answer {
  background: linear-gradient(170deg, #5abf4d, #035203) !important;
  color: white;
  font-weight: bold;
}

.incorrect-answer {
  background: linear-gradient(170deg, #bf4d4d, #e10404) !important;
  color: white;
  font-weight: bold;
}

.option-letter {
  font-weight: bold;
  margin-right: 10px;
}

.selected {
  background: linear-gradient(170deg, #bfae4d, #afc313) !important;
  color: white;
  font-weight: bold;
}

.btn2 {
  border-radius: 100rem;
  padding: 12px 16px;
  background: linear-gradient(170deg, #cea466, #e07f23);
  width: 200px;
  border: none;
  color: white;
  font-weight: 600;
  margin: 1rem 0;
  cursor: pointer;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 200px;
  background-color: #ccc;
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #3498db;
  border-radius: 5px;
  transition: width 0.5s;
}

.submit-button {
  background-color: red;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  width: 16rem !important;
  border-radius: 100rem !important;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(45deg, rgb(43, 118, 26), rgb(3, 63, 12));
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
  margin-top: 10px;
}

.submit-button:hover {
  transform: scale(1.05) rotate3d(1, 1, 0, 10deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 10px white;
}

.submit-button:active {
  animation: pulse 0.6s;
  transform: scale(1);
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-family: "Press Start 2P", cursive;
}

.flash-dots {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.leaderboard-results-2 {
  text-align: center;
  border-collapse: collapse;
}

.leaderboard-results-2 thead th {
  padding: 25px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.leaderboard-results-2 tbody td:nth-of-type(7) {
  font-weight: bold;
}

.leaderboard-results-2 tbody tr {
  color: #ffffff;
}

.leaderboard-results-2 tbody span {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 50%;
}

.leaderboard-font-2 {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

/* Small Devices (Mobile Phones) */
@media only screen and (max-width: 600px) {
  .leaderboard-results-2 thead th,
  .leaderboard-font-2 {
    font-size: 15px;
  }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .leaderboard-results-2 thead th,
  .leaderboard-font-2 {
    font-size: 20px;
  }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 900px) {
  .leaderboard-results-2 thead th,
  .leaderboard-font-2 {
    font-size: 25px;
  }
}

.start2p {
  font-family: "Press Start 2P";
  font-size: 15px;
  line-height: 1.5;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 6px solid #610c7d;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden-button {
  display: none;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-45%);
}

.question-container {
  top: 50%;
  left: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.centered-section {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
