#leaderboard {
  padding: 5%;
}

.ladder-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1% 2.5%;
  border-radius: 10px;
}

.ladder-title {
  flex: 2;
  font-size: 3vw; /* Adjust as needed */
}

.ladder-search {
  flex: 1;
  padding-right: 2.5%;
}

.ladder-search input {
  color: white;
}

.ladder-search input::-webkit-input-placeholder {
  color: #888DFF;
}

.ladder-search input::-moz-placeholder {
  color: #888DFF;
}

.ladder-search input:-ms-input-placeholder {
  color: #888DFF;
}

.ladder-search input:-moz-placeholder {
  color: #888DFF;
}

.leaderboard-results {
  text-align: left;
  border-collapse: collapse;
  width: 100%; /* Ensure the table takes full width */
}

.leaderboard-results thead th {
  padding: 2.5%;
  font-size: 2vw; /* Adjust as needed */
}

.leaderboard-results tbody td {
  padding: 1.5% 2.5%;
  background: #1a1a1a;
  font-size: 1.5vw; /* Adjust as needed */
  border-bottom: 0.5vw solid #232323;
}

.leaderboard-results tbody td:nth-of-type(7) {
  font-weight: bold;
}

.leaderboard-results tbody tr.current td {
  color: #888DFF;
}

.leaderboard-results tbody tr:hover td {
  background: #1d1d1d;
}

.leaderboard-results tbody tr {
  color: #ffffff;
  display: block; /* Ensure each row behaves like a block element */
  margin-bottom: 10px; /* Add some space between rows */
}

.leaderboard-results tbody td:before {
  content: attr(data-label); /* Add data-label content before each cell */
  font-weight: bold;
}

.leaderboard-results tbody span {
  font-weight: bold;
  padding: 1% 1.5%;
  border-radius: 50%;
}

.leaderboard-results tbody tr span {
  background: #262626;
  color: #ffffff;
}

.leaderboard-font {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust as needed */
}

.spinner {
  border: 0.6vw solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 0.6vw solid #610c7d;
  width: 7vw;
  height: 7vw;
  animation: spin 1s linear infinite;
}

.log-message {
  position: absolute;
  color: #c50000;
  padding: 1% 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: moveUpAndFade 3s ease-out forwards;
  backface-visibility: hidden;
  border: 0.1vw solid #c50000;
  text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.1);
}

@keyframes moveUpAndFade {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -2vw);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -5vw);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scrollable-leaderboard {
  max-height: 70vh; /* Adjust as needed */
  overflow-y: auto;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .leaderboard-results thead th,
  .leaderboard-results tbody td {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
